.mydiv{
    position: relative;
    top: 10px;
    left: 37px;
    width: 400px;
    height: 50px;
}
a{
    position:relative;
    float: left;
    width: 60px;
    height: 35px;
    margin-right:2px;
    padding-top: 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    background:linear-gradient(white,#B5B9BC);
    border:1px solid #B5B9BC;
}
.cur{
    border: 1px solid #000;
    border-bottom: 1px solid #B5B9BC;
    z-index: 9999;
}



.content{
    display: none;
    position:absolute;
    margin-top:6px;
    left: 45px;
    width: 750px;
    border:1px solid black;
}
.visited{
    display: table;
}
// .hide{
//     display: none;
// }
img{
    margin: 20px;
    display: inline-block;
    float:left;
}
p{
    margin:10px;
    padding:15px;
    font-size: 12px;
}
.div2 p{
    padding:5px;
}
.div2 p:last-child{
    margin-top: 50px;
}
.div3 p:last-child{
    margin-top: 80px;
}
.div3 img{
    margin-top:0px;
}
body div:last-child p:last-child{
    margin-top:30px;
}
