*{
    margin:0px;
    padding:0px;
}
div{
    float: left;
    height: 100%;
    height: 700px;
}
.myclass{
    width: 80%;
    background-color: black;
    color:white;
}
.review{
    width: 20%;
    background-color:#5D5858;
    color: white;
    font-size: 0.9em;
    line-height: 2;
}

.myclass p{
    position:relative;
    top:20px;
    left: 30px;
}
.myclass a{
    color:white;
}
.image{
    margin:3% 15% 0 15%;
    width: 70%;
    height: 70%;
}
.image img{
    width: 100%;
    height: 100%;
}
#hert{
    display: block;
    float:right;
    margin-right: 10%;
    width: .8em;
    height: .8em;
    background-color:white;
    transform: rotate(45deg);
}
#hert::before,#hert::after{
    content: "";
    width: .8em;
    height:.8em;
    border-radius:50%;
    background-color:white;
}
#hert::before{
    position:absolute;
    top:-0.4em;
}
#hert::after{
    position:absolute;
    left: -0.4em;
}
#hert:hover,#hert:hover::before,#hert:hover::after{
    background-color:#E42F62;
}

.images{
    margin:2%;
    width: 96%;
    height: 10%;
}
.images img{
    width: 6.5%;
    height: 100%;
    opacity: 0.5;
}
.images img:hover{
    opacity:1;
}






















.review img{
    position: relative;
    left: 20px;
    top:20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review p:nth-child(2),.review p:nth-child(3){
    right: -70px;
}
.review p{
    position:relative;
    top:-40px;
    margin-left: 10%;
}
.decoretion{
    position:relative;
    margin:5%;
    top:-40px;
    width: 90%;
    height: 0;
    border: 0.5px white dotted;
}
a{
    text-decoration: none;
    color:#101083;
}
a:hover{
    text-decoration:underline;
}
.review span{
    margin:3px 5px 0 -2px;
    // padding-right:20px;
    display: block;
    float: left;
}
.star-five{
    display: block;
    background-color:yellow;
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0,65% 35%,100% 35%,73% 60%,80% 100%,50% 65%,20% 100%,27% 60%,0 35%,35% 35%);
}
.lastStar{
    background:linear-gradient(to right,yellow 50%,white 50%);
}







// .star-five{
//     width: 0;
//     height: 0;
//     color: red;
//     margin: 10px 1px;
//     position: relative;
//     left: -6px;
//     top:3px;
//     display: block;
//     border-left: 14px solid transparent;
//     border-right: 14px solid transparent;
//     border-bottom: 8px solid red;
//     transform:rotate(-32deg);
//     opacity:0.3;
// }
// .star-five::after{
// width: 0;
// height: 0;
// display: block;
// position: absolute;
// color: red;
// top: -9px;
// left: -3px;
// border-top: 14px solid transparent;
// border-bottom: 14px solid transparent;
// border-left: 8px solid red;
// content: "";
// transform: rotate(-25deg);
// }
// .star-five::before{
// width: 0;
// height: 0;
// display: block;
// position: absolute;
// top: -11px;
// left: 1px;
// color: red;
// border-left: 5px solid transparent;
// border-right: 5px solid transparent;
// border-bottom: 14px solid red;
// content: "";
// transform: rotate(30deg);
// }
