.clock{
    position: relative;
    left: calc(50% - 3em);
    top: 20em;
    width: 6em;
    height: 6em;
    border: 1em solid black;
    border-radius: 50%;
}
.clock::before{
    content: "";
    position: absolute;
    top: 1em;
    left: 2.5em;
    width: 0.8em;
    height: 0.8em;
    background-color: black;
   box-shadow: 0 0.75em  black,0 1.5em  black,0.75em 1.5em  black,1.5em 1.5em  black,-2em 5em black,-2em 5.75em black,2em 5em black,2em 5.75em black;
}
.clock::after{
    content: "";
    position: absolute;
    top: -2em;
    left: -.5em;
    width: 3em;
    height: 1em;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    box-shadow: 4em 0 black;
    background-color: black;
}