/*
* @Author: Marte
* @Date:   2018-08-02 15:15:06
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-29 15:48:10
*/
*{
    margin:0;
    padding:0;
}
body{
    background-color: #32683c;
    overflow-x: hidden;
}
li{
    list-style-type: none;
}
a{
    font-size:15px;
    text-decoration: none;
    color: #000;
}
h3{
    font-weight: normal;
    /* text-align: left */;
}
@font-face{
    font-family: "icons";
    src: url("font/icons.eot"),
         url("font/icons.svg"),
         url("font/icons.ttf"),
         url("font/icons.woff");
}
.left{
    float: left;
    margin-top: 20px;
}
.right{
    float: right;
    margin-top: 20px;
}

/*header*/
.logo{
    float: left;
    width: 348px;
    height: 73px;
    margin: 20px 400px 10px 0;
}
.search{
    float: left;
    margin-top: 45px;
    margin-bottom: 28px;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: rgba(255,255,255,.3);
    outline: none;
}
/* .search::before{
    content: "";
    position: absolute;
    left: 300px;
    top: 100px;
    width: 5px;
    height: 5px;
    border: 2px solid red;
    border-radius: 50%;
    z-index: 9999;
} */
.home{
    float: left;
    margin: 10px 30px;
}
.navigation-bar li{
    display: inline-block;
    text-align: center;
}
.navigation-bar_one{
    float: right;
    margin-top: 50px;
    margin-bottom: 23px;
    height: 30px;
}
.navigation-bar_one li{
    margin-left:15px;
}
.navigation-bar_one a{
    color: #fff;
}
.navigation-bar_one a:hover{
    text-decoration: underline;
}
.navigation-bar_two{
    font-size: 20px;
    color: #fff;
}
.navigation-bar_two li{
    margin-top: 10px;
    width: 150px;
}
.navigation-bar_two li:hover{
    color: #fad089;
}
.hide{
    display: none;
}
.option{
    position: absolute;
    width: 150px;
    z-index: 9999;
}
.option a{
    color: #fff;
}
.option li{
    margin:0;
    padding-top: 10px;
    width: 150px;
    height: 35px;
    background-color: rgba(50,104,60,.4);
}
.option li:hover{
    background-color: #e8be72;
}
/* 回到顶部 */
.scrollToTop{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 100px;
    padding-top: 7px;
    width: 50px;
    height: 43px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #32683c;
    z-index: 9999;
}
.scrollToTop img{
    width: 100%;
    height: 100%;
}
.scrollToTop_hide{
    display: none;
}
/*banner区域*/
.banner{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 400px;
}
.pic{
    position:absolute;
    width: 400%;
    height: 100%;
    /* animation: switch 28s linear infinite; */
}
.pic img {
    position:absolute;
    float: left;
    width: 25%;
    height: 100%;
}
/* .pic:hover{
    animation-play-state: paused;
} */
/* .pic img:nth-child(1) { left:0; }
.pic img:nth-child(2) { left: 25%; }
.pic img:nth-child(3) { left:50%; }
.pic img:nth-child(4) { left:75%; }
@keyframes switch{
    0%,22%{
        left: 0;
    }
    25%,47%{
        left: -100%;
    }
    50%,72%{
        left: -200%;
    }
    75%,97%{
        left:-300%;
    }
    100%,100%{
        left: 0;
    }
} */
/*小圆点*/
.point{
    position: absolute;
    left: 600px;
    bottom: 40px;
    width: 80px;
    height: 10px;
    z-index:9999;
}
.point li{
    display: inline-block;
    margin-right: 3px;
    width: 10px;
    height: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    /* animation: change-color 28s linear infinite; */
}
.current{
    background-color:#fff;
}
/* .point li:hover{
    animation-play-state: paused;
}
@keyframes change-color{
    0%,50%{
        background-color:#fff;
    }
    50%,100%{
        background-color:transparent;
    }
}
.point li:nth-child(2){
    animation-delay: 7s;
}
.point li:nth-child(3){
    animation-delay: 14s;
}
.point li:nth-child(4){
    animation-delay: 21s;
} */




/*content*/
.content{
    padding-top: 10px;
    width: 100%;
    height: 2260px;
    background-color: #fff;
}
.content > .left,.content > .right{
    padding-bottom: 20px;
}
/* 小logo,小标题 */
.content_logo{
    float: left;
    display: inline-block;
    margin: 20px 10px 20px 0;
    width: 32px;
    height: 28px;
}
.subtitle{
    margin: 20px 0;
}
/* 更多 */
.more{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #5f5e5e;
}
.more::before,.more::after{
    content: "";
    position: absolute;
    background-color: #fff;
}
.more::before{
    top: 2px;
    left: 7.5px;
    width: 1px;
    height: 12px;
}
.more::after{
    top: 7px;
    right: 3px;
    width: 10px;
    height: 2px;
}
/* 日历 */
.content_calendar{
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 10px;
    padding-top: 5px;
    top: 20px;
    width: 70px;
    height: 45px;
    border: .5px solid #b4b3b3;
    border-top: none;
    font-size: 30px;
    font-weight: bold;
    color: #32683c;
    text-align: center;
}
.content_calendar::before{
    content: "2018-07";
    position: absolute;
    top: -20px;
    left: -1px;
    width: 70px;
    height: 20px;
    border: .5px solid #b4b3b3;
    border-bottom: none;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    background-color: #32683c;
}
/*焦点新闻*/
.content_focus{
    margin-right: 5%;
    width: 60%;
}
.focus-news{
    float: right;
    width: 48%;
    height: 350px;
}
.focus-news_one{
    float: left;
    margin-left: -40px;
}
.focus-news img{
    width: 100%;
}
/* 校园新闻 */
.content_campus-news{
    width: 35%;
}
.content_campus-news_list a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #32683c;
}
.content_campus-news_list a:hover::before,.content_campus-news_list a:hover{
    color: #32683c;
    cursor: pointer;
}
.content_campus-news_list a{
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
    width: 90%;
    font-size: 16px;
    text-overflow: ellipsis;/* 将溢出文字以省略号的形势呈现 */
    white-space: nowrap; /* 禁止换行 */
}
/* 专题 */
.content_special,.content_image{
    background-color: rgba(155,207,178,.3);
}
.content_special{
    width: 45%;
}
.content_special_pictures a{
    display: inline-block;
    margin-right: 2%;
    padding-bottom: 12px;
    width: 30%;
    box-shadow: 5px 5px 1px #8c8c8c;
}
.content_special_pictures a:first-child{
    margin-left: -40px;
}
.content_special_pictures a:hover{
    box-shadow: 5px 5px 5px #32683c;
}
/* 摄影师大 */
.content_image{
    padding-left: 10%;
    width: 45%;
}
.photography{
    float: left;
    overflow: hidden;
    width: 40%;
}
.photography a{
    display: inline-block;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.photography a:hover{
    color: #32683c;
}
.photography img{
    width: 100%;
}
.photography_one{
    margin-right: 10%;
}
/* 学术讲座 */
.content_academic{
    width: 45%;
}
.content_academic_list a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #32683c;
}
.content_academic_list a:hover::before,.content_academic_list a:hover{
    color: #32683c;
    cursor: pointer;
}
.content_academic_list a{
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
    width: 90%;
    font-size: 16px;
    text-overflow: ellipsis;/* 将溢出文字以省略号的形势呈现 */
    white-space: nowrap; /* 禁止换行 */
}
.content_academic_list,.content_notice_list{
    padding: 30px 0;
    border-top: 1px solid #32683c;
    border-bottom: 1px dotted #32683c;
}
/* 通知公告 */
.content_notice{
    padding-left: 10%;
    width: 45%;
}
.content_notice_list a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #32683c;
}
.content_notice_list a:hover::before,.content_notice_list a:hover{
    color: #32683c;
    cursor: pointer;
}
.content_notice_list a{
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
    width: 90%;
    font-size: 16px;
    text-overflow: ellipsis;/* 将溢出文字以省略号的形势呈现 */
    white-space: nowrap; /* 禁止换行 */
}
/* 学院动态 */
.content_dynamic{
    width: 100%;
}
.content_dynamic_module{
    width: 35%;
}
.content_dynamic_pic{
    float: left;
    margin-top: 100px;
    margin-left: 10%;
    width: 20%;
}
.content_dynamic_list{
    margin: 30px 0;
}
.content_dynamic_list:nth-child(1),.content_dynamic_list:nth-child(4){
    margin-top: 0;
}
.content_dynamic_text,.content_media_text{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    height: 70px;
    font-size: 14px;
    color: #605c5c;
}
.content_dynamic_text a,.content_media_text a{
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}
.content_dynamic_text a:hover,.content_media_text a:hover{
    color: #32683c;
}
.content_dynamic_text p{
    line-height:26px;
    text-indent: 28px; /* 设置首行缩进 */
}
/* 眼睛图标 */
.eyes{
    display: inline-block;;
    position: relative;
    color: #32683c;
    font-size: 30px;
}
.eyes::before,.eyes::before{
    content:"\34";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    font-family: "icons"
}
.eyes_one{
    margin-left: -40px;
}
/* 媒体师大,师大文苑 */
.content_media,.content_literary-garden{
    width: 45%;
}
.content_media_text{
    margin-left: 40px;
    padding-left: 0;
}
.content_media_text{
    line-height: 24px;
}
.content_media div:nth-child(4),.content_literary-garden div:nth-child(4){
    border-top: 1px solid #32683c;
}
/* 关注 */
.follow{
    margin-top: -10px;
}
.follow-botton{
    width: 50px;
    height: 20px;
    border: 1px solid #32683c;
    border-radius: 10px;
}
.follow-botton:hover{
    color: #fff;
    background-color: #32683c;
}
/* 二维码 */
.erweima{
    position: absolute;
    left: 300px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px #1c3320;
    z-index: 9999;
}
.erweima_hide{
    display: none;
}
/* 四川师大报 */
.content_paper{
    padding-right: 7%;
    width: 33%;
    background-color: rgba(155,207,178,.3);
}
.content_paper_erweima{
    background: url("images/papercode.png") no-repeat;
    background-size: 100% 100%;
}
/* 校园掠影 */
.content_pics{
    width: 60%;
    background-color: rgba(155,207,178,.3);
}
.content_pics_pictures{
    padding-bottom: 8px;
    width: 100%;
    height: 400px;
}
.content_pics_image{
    float: left;
    color: #fff;
}
.content_pics_pictures div:first-child{
    margin-left: -40px;
}
.content_pics_pictures div:nth-child(2){
    margin-left: -3px;
}
.wide-pic{
    width: 70%;
    height: 100%;
}
.norrow-pic{
    width: 10%;
    height: 100%;
}
.norrow-pic img{
    filter: brightness(.5);
}
.content_pics_image img{
    width: 100%;
    height: 100%;
}
.lable_bottom{
    position: relative;
    left: 20px;
    bottom: 50px;
    width: 4.5em;
    font-size: 18px;
    text-align: center;
    background-color: rgba(22,22,22,.7);
}
.lable_top{
    position: relative;
    top: -380px;
    left: 20px;
    width: 40px;
    font-size: 26px;
    text-align: center;
    border: 1px solid #fff;
}
.time_visited{
    position: relative;
    left: 430px;
    bottom: 70px;
    font-size: 18px;
}
.time_hide{
    display: none;
}
/* 新媒体 */
.content_news{
    margin-top: 0;
    padding-right: 7%;
    width: 33%;
    background-color: rgba(155,207,178,.3);
}
.content_news_logo{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.content_news_module{
    padding-top: 10px;
    width: 100%;
    border-top: 2px solid #7ead87;
}
.module{
    padding: 10px 0;
}
.module-two_erweima{
    background: url("images/weixin.jpg") no-repeat;
    background-size: 100% 100%;
}
.module-two{
    padding-top: 10px;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
}
.module h3{
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.module_text{
    width: 90%;
    margin-left: 10%;
    font-size: 14px;
    color: #7a7878;
}
.module_text a{
    color: #7a7878;
}
.module_text a:hover{
    text-decoration: underline;
    color: #32683c;
}













/* footer */
.footer{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
/* footer_left */
.footer_left{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    border-right: 1px solid #15301a;
}
.footer_left a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.footer_left a:nth-child(2){
    position: relative;
    top: -24px;
}
.footer_left a:nth-child(3){
    position: relative;
    top: -27px;
}
.address{
    padding-top: 20px;
    width: 96%;
    border-top: 1px solid #61916a;
}
/* footer_right */
.footer_right{
    padding-top: 70px;
    margin-right: 7%;
    width: 20%;
    text-align: left;
}
.footer_right a{
    padding-right: 10px;
    font-size: 16px;
    color: #fff;
}
.footer_right a:hover{
    text-decoration: underline;
}