/*
* @Author: Marte
* @Date:   2018-07-31 16:38:16
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-06 16:44:39
*/
*{
    margin:0;
    padding:0;
}
@font-face{
    font-family: "icons";
    src: url("font/icons.eot"),
         url("font/icons.svg"),
         url("font/icons.ttf"),
         url("font/icons.woff");
}
.sector_navigator{
    font-weight: bold;
}
.card{
    position: absolute;
    top: 30px;
    left: 400px;
    width: 130px;
    height: 400px;
    text-align: center;
    box-shadow: 6px 6px 12px #1f1e1e;
    transform-origin: 30px 362px;
}
.card_one{
    border-top: 2px solid #ea4b4b;
    background-color: #e82c2c;
    z-index: 1;
    transform: rotate(-90deg);
}
.card_two{
    border-top: 2px solid #f78365;
    background-color: #f0633f;
    z-index: 2;
    transform: rotate(-75deg);
}
.card_three{
    border-top: 2px solid #f19252;
    background-color: #e8782c;
    z-index: 3;
    transform: rotate(-60deg);
}
.card_four{
    border-top: 2px solid #f7c541;
    background-color: #efb314;
    z-index: 4;
    transform: rotate(-45deg);
}
.card_five{
    border-top: 2px solid #f3ee42;
    background-color: #eae417;
    z-index: 5;
    transform: rotate(-30deg);
}
.card_six{
    border-top: 2px solid #4ccb2f;
    background-color: #26b506;
    z-index: 6;
    transform: rotate(-15deg);
}
.card_seven{
    border-top: 2px solid #2a8337;
    background-color: #10641c;
    z-index: 7;
}
.card_eight{
    border-top: 2px solid #3584e5;
    background-color: #0762d3;
    z-index: 8;
    transform: rotate(15deg);
}
.card_nine{
    border-top: 2px solid #603ee3;
    background-color: #3b14d3;
    z-index: 9;
    transform: rotate(30deg);
}
.card_ten{
    border-top: 2px solid #9834d9;
    background-color: #7d0ac8;
    z-index: 10;
    transform: rotate(45deg);
}
.card_eleven{
    border-top: 2px solid #fc4bc1;
    background-color: #f90baa;
    z-index: 11;
    transform: rotate(60deg);
}
.card_twelve{
    border-top: 2px solid #857e7e;
    background-color: #656161;
    background-image: url("images/cover.jpg");
    z-index: 12;
    transform: rotate(75deg);
    // transform-origin: 30px 362px;
}
.icon{
    display: block;
    position: relative;
    margin: 30px auto;
    font-family: "icons";
    font-weight: bold;
    font-size: 66px;
}
.icon-install::before{
    content: "\35";
}
.icon-model::before{
    content: "\37";
}
.icon-browse::before{
    content: "\34";
}
.icon-software::before{
    content: "\39";
}
.icon-product::before{
    content: "\36";
}
.icon-option::before{
    content: "\38";
}
.icon-image::before{
    content: "\32";
}
.icon-video::before{
    content: "\30";
}
.icon-download::before{
    content: "\41";
}
.icon-subject::before{
    content: "\42";
}
.icon-digital::before{
    content: "\33";
}
.letter{
    position: absolute;
    left: -30px;
    top: 200px;
    font-size: 46px;
    transform: rotate(-90deg);
}
.circle{
    position: relative;
    left: 20px;
    margin-top: 340px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #afa7a7;
}
.heart{
    position: relative;
    left: 90px;
    width: 16px;
    height: 16px;
    background-color: #090909;
    transform: rotate(-45deg);
    z-index: 9999;
}
.heart::before,.heart::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #090909;
}
.heart::before{
    top: -50%;
    left: 0;
}
.heart:after{
    left: -50%;
    top: 0;
}


