*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 300px;
	height: 300px;
	}
.pencil{
	margin: 145px auto;
	width: 100px;
	height: 15px;
	background-color:black ;
	transform: rotate(-45deg);
}
.pencil:before{
	content: " ";
	position:absolute;
	left: -37px;
	border-width: 7px 17px 7px 17px;
		border-style:dashed;
		border-color: transparent black transparent transparent;

	}
.pencil:after{
	content: " ";
	position: absolute;
	left: 102px;
	width: 10px;
	height: 15px;
	background-color: black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	}